USE [GamingCenter]
GO
/****** Object:  Table [dbo].[categories]    Script Date: 17/09/2026 11:40:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[categories](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[status] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[chat_messages]    Script Date: 17/09/2026 11:40:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[chat_messages](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[customer_id] [bigint] NOT NULL,
	[sender_role] [varchar](20) NOT NULL,
	[sender_user_id] [bigint] NOT NULL,
	[message] [nvarchar](1000) NOT NULL,
	[is_read] [bit] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[computer_prices]    Script Date: 17/09/2026 11:40:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[computer_prices](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[computer_id] [bigint] NOT NULL,
	[price_per_hour] [decimal](15, 2) NOT NULL,
	[effective_from] [datetime2](7) NOT NULL,
	[effective_to] [datetime2](7) NULL,
	[status] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[computers]    Script Date: 17/09/2026 11:40:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[computers](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[room_id] [bigint] NOT NULL,
	[code] [varchar](20) NOT NULL,
	[name] [nvarchar](100) NULL,
	[configuration] [nvarchar](max) NULL,
	[status] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[customers]    Script Date: 17/09/2026 11:40:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[customers](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[user_id] [bigint] NOT NULL,
	[full_name] [nvarchar](100) NOT NULL,
	[phone] [varchar](20) NULL,
	[membership_level_id] [bigint] NOT NULL,
	[total_playing_hours] [decimal](10, 2) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[game_suggestion_items]    Script Date: 17/09/2026 11:40:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[game_suggestion_items](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[game_suggestion_id] [bigint] NOT NULL,
	[game_id] [bigint] NOT NULL,
	[rank_order] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[game_suggestions]    Script Date: 17/09/2026 11:40:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[game_suggestions](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[customer_id] [bigint] NOT NULL,
	[input_context] [nvarchar](500) NULL,
	[requested_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[games]    Script Date: 17/09/2026 11:40:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[games](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[genre] [nvarchar](50) NULL,
	[status] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[gaming_sessions]    Script Date: 17/09/2026 11:40:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[gaming_sessions](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[customer_id] [bigint] NOT NULL,
	[computer_id] [bigint] NOT NULL,
	[start_time] [datetime2](7) NOT NULL,
	[end_time] [datetime2](7) NULL,
	[price_per_hour] [decimal](15, 2) NOT NULL,
	[gaming_amount] [decimal](15, 2) NULL,
	[status] [varchar](20) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[duration_seconds] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[invoice_details]    Script Date: 17/09/2026 11:40:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[invoice_details](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[invoice_id] [bigint] NOT NULL,
	[item_type] [varchar](20) NOT NULL,
	[order_id] [bigint] NULL,
	[description] [nvarchar](255) NULL,
	[amount] [decimal](15, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[invoices]    Script Date: 17/09/2026 11:40:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[invoices](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[gaming_session_id] [bigint] NOT NULL,
	[customer_id] [bigint] NOT NULL,
	[gaming_amount] [decimal](15, 2) NOT NULL,
	[order_amount] [decimal](15, 2) NOT NULL,
	[discount_amount] [decimal](15, 2) NOT NULL,
	[total_amount] [decimal](15, 2) NOT NULL,
	[status] [varchar](20) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[membership_levels]    Script Date: 17/09/2026 11:40:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[membership_levels](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [varchar](30) NOT NULL,
	[discount_percent] [decimal](5, 2) NOT NULL,
	[min_playing_hours] [decimal](10, 2) NOT NULL,
	[status] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[notifications]    Script Date: 17/09/2026 11:40:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[notifications](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[recipient_role] [varchar](20) NOT NULL,
	[type] [varchar](30) NOT NULL,
	[reference_type] [varchar](30) NOT NULL,
	[reference_id] [bigint] NOT NULL,
	[message] [nvarchar](255) NOT NULL,
	[is_read] [bit] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[order_details]    Script Date: 17/09/2026 11:40:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[order_details](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[order_id] [bigint] NOT NULL,
	[product_id] [bigint] NOT NULL,
	[quantity] [int] NOT NULL,
	[unit_price] [decimal](15, 2) NOT NULL,
	[subtotal] [decimal](15, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[orders]    Script Date: 17/09/2026 11:40:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orders](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[customer_id] [bigint] NOT NULL,
	[gaming_session_id] [bigint] NOT NULL,
	[status] [varchar](20) NOT NULL,
	[total_amount] [decimal](15, 2) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[payments]    Script Date: 17/09/2026 11:40:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[payments](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[invoice_id] [bigint] NOT NULL,
	[method] [varchar](20) NOT NULL,
	[amount] [decimal](15, 2) NOT NULL,
	[status] [varchar](20) NOT NULL,
	[paid_at] [datetime2](7) NOT NULL,
	[confirmed_by] [bigint] NULL,
	[confirmed_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[products]    Script Date: 17/09/2026 11:40:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[products](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[category_id] [bigint] NOT NULL,
	[code] [varchar](30) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[price] [decimal](15, 2) NOT NULL,
	[stock_quantity] [int] NOT NULL,
	[minimum_stock] [int] NOT NULL,
	[status] [varchar](20) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[roles]    Script Date: 17/09/2026 11:40:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[roles](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[rooms]    Script Date: 17/09/2026 11:40:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rooms](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[type] [varchar](30) NOT NULL,
	[capacity] [int] NOT NULL,
	[status] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user_roles]    Script Date: 17/09/2026 11:40:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_roles](
	[user_id] [bigint] NOT NULL,
	[role_id] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC,
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 17/09/2026 11:40:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[username] [varchar](50) NOT NULL,
	[password_hash] [varchar](255) NOT NULL,
	[email] [varchar](100) NULL,
	[status] [varchar](20) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[wallet_transactions]    Script Date: 17/09/2026 11:40:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[wallet_transactions](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[wallet_id] [bigint] NOT NULL,
	[type] [varchar](20) NOT NULL,
	[amount] [decimal](15, 2) NOT NULL,
	[balance_after] [decimal](15, 2) NOT NULL,
	[reference_type] [varchar](30) NULL,
	[reference_id] [bigint] NULL,
	[description] [nvarchar](255) NULL,
	[created_at] [datetime2](7) NOT NULL,
	[status] [varchar](20) NOT NULL,
	[channel] [varchar](20) NULL,
	[confirmed_by] [bigint] NULL,
	[confirmed_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[wallets]    Script Date: 17/09/2026 11:40:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[wallets](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[customer_id] [bigint] NOT NULL,
	[balance] [decimal](15, 2) NOT NULL,
	[version] [bigint] NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[categories] ON 

INSERT [dbo].[categories] ([id], [name], [status]) VALUES (1, N'Drink', N'ACTIVE')
INSERT [dbo].[categories] ([id], [name], [status]) VALUES (2, N'Food', N'ACTIVE')
INSERT [dbo].[categories] ([id], [name], [status]) VALUES (3, N'Snack', N'ACTIVE')
SET IDENTITY_INSERT [dbo].[categories] OFF
GO
SET IDENTITY_INSERT [dbo].[computer_prices] ON 

INSERT [dbo].[computer_prices] ([id], [computer_id], [price_per_hour], [effective_from], [effective_to], [status]) VALUES (1, 1, CAST(10000.00 AS Decimal(15, 2)), CAST(N'2026-09-01T00:00:00.0000000' AS DateTime2), NULL, N'ACTIVE')
SET IDENTITY_INSERT [dbo].[computer_prices] OFF
GO
SET IDENTITY_INSERT [dbo].[computers] ON 

INSERT [dbo].[computers] ([id], [room_id], [code], [name], [configuration], [status]) VALUES (1, 1, N'PC001', N'PC001', N'i5, RTX3060, 16GB RAM', N'AVAILABLE')
SET IDENTITY_INSERT [dbo].[computers] OFF
GO
SET IDENTITY_INSERT [dbo].[customers] ON 

INSERT [dbo].[customers] ([id], [user_id], [full_name], [phone], [membership_level_id], [total_playing_hours], [created_at]) VALUES (1, 1, N'Nguy?n An', N'0901234567', 1, CAST(0.00 AS Decimal(10, 2)), CAST(N'2026-09-15T23:34:35.1000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[customers] OFF
GO
SET IDENTITY_INSERT [dbo].[gaming_sessions] ON 

INSERT [dbo].[gaming_sessions] ([id], [customer_id], [computer_id], [start_time], [end_time], [price_per_hour], [gaming_amount], [status], [created_at], [duration_seconds]) VALUES (1, 1, 1, CAST(N'2026-09-15T23:34:54.7766667' AS DateTime2), CAST(N'2026-09-15T23:35:05.4700000' AS DateTime2), CAST(10000.00 AS Decimal(15, 2)), CAST(15000.00 AS Decimal(15, 2)), N'COMPLETED', CAST(N'2026-09-15T23:34:54.7766667' AS DateTime2), 5400)
SET IDENTITY_INSERT [dbo].[gaming_sessions] OFF
GO
SET IDENTITY_INSERT [dbo].[invoice_details] ON 

INSERT [dbo].[invoice_details] ([id], [invoice_id], [item_type], [order_id], [description], [amount]) VALUES (1, 1, N'GAMING_FEE', NULL, N'Tiền giờ chơi 90 phút', CAST(15000.00 AS Decimal(15, 2)))
INSERT [dbo].[invoice_details] ([id], [invoice_id], [item_type], [order_id], [description], [amount]) VALUES (2, 1, N'ORDER', 1, N'Order đồ ăn/uống', CAST(25000.00 AS Decimal(15, 2)))
SET IDENTITY_INSERT [dbo].[invoice_details] OFF
GO
SET IDENTITY_INSERT [dbo].[invoices] ON 

INSERT [dbo].[invoices] ([id], [gaming_session_id], [customer_id], [gaming_amount], [order_amount], [discount_amount], [total_amount], [status], [created_at]) VALUES (1, 1, 1, CAST(15000.00 AS Decimal(15, 2)), CAST(25000.00 AS Decimal(15, 2)), CAST(0.00 AS Decimal(15, 2)), CAST(40000.00 AS Decimal(15, 2)), N'PAID', CAST(N'2026-09-15T23:35:10.0400000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[invoices] OFF
GO
SET IDENTITY_INSERT [dbo].[membership_levels] ON 

INSERT [dbo].[membership_levels] ([id], [name], [discount_percent], [min_playing_hours], [status]) VALUES (1, N'BRONZE', CAST(0.00 AS Decimal(5, 2)), CAST(0.00 AS Decimal(10, 2)), N'ACTIVE')
INSERT [dbo].[membership_levels] ([id], [name], [discount_percent], [min_playing_hours], [status]) VALUES (2, N'SILVER', CAST(5.00 AS Decimal(5, 2)), CAST(50.00 AS Decimal(10, 2)), N'ACTIVE')
INSERT [dbo].[membership_levels] ([id], [name], [discount_percent], [min_playing_hours], [status]) VALUES (3, N'GOLD', CAST(10.00 AS Decimal(5, 2)), CAST(100.00 AS Decimal(10, 2)), N'ACTIVE')
SET IDENTITY_INSERT [dbo].[membership_levels] OFF
GO
SET IDENTITY_INSERT [dbo].[order_details] ON 

INSERT [dbo].[order_details] ([id], [order_id], [product_id], [quantity], [unit_price], [subtotal]) VALUES (1, 1, 1, 1, CAST(15000.00 AS Decimal(15, 2)), CAST(15000.00 AS Decimal(15, 2)))
INSERT [dbo].[order_details] ([id], [order_id], [product_id], [quantity], [unit_price], [subtotal]) VALUES (2, 1, 2, 1, CAST(10000.00 AS Decimal(15, 2)), CAST(10000.00 AS Decimal(15, 2)))
SET IDENTITY_INSERT [dbo].[order_details] OFF
GO
SET IDENTITY_INSERT [dbo].[orders] ON 

INSERT [dbo].[orders] ([id], [customer_id], [gaming_session_id], [status], [total_amount], [created_at]) VALUES (1, 1, 1, N'COMPLETED', CAST(25000.00 AS Decimal(15, 2)), CAST(N'2026-09-15T23:34:59.7166667' AS DateTime2))
SET IDENTITY_INSERT [dbo].[orders] OFF
GO
SET IDENTITY_INSERT [dbo].[payments] ON 

INSERT [dbo].[payments] ([id], [invoice_id], [method], [amount], [status], [paid_at], [confirmed_by], [confirmed_at]) VALUES (1, 1, N'WALLET', CAST(40000.00 AS Decimal(15, 2)), N'SUCCESS', CAST(N'2026-09-15T23:35:16.7000000' AS DateTime2), NULL, NULL)
SET IDENTITY_INSERT [dbo].[payments] OFF
GO
SET IDENTITY_INSERT [dbo].[products] ON 

INSERT [dbo].[products] ([id], [category_id], [code], [name], [price], [stock_quantity], [minimum_stock], [status], [created_at]) VALUES (1, 1, N'P001', N'Sting', CAST(15000.00 AS Decimal(15, 2)), 100, 0, N'ACTIVE', CAST(N'2026-09-15T23:34:59.7033333' AS DateTime2))
INSERT [dbo].[products] ([id], [category_id], [code], [name], [price], [stock_quantity], [minimum_stock], [status], [created_at]) VALUES (2, 2, N'P002', N'Mì tôm', CAST(10000.00 AS Decimal(15, 2)), 50, 0, N'ACTIVE', CAST(N'2026-09-15T23:34:59.7033333' AS DateTime2))
SET IDENTITY_INSERT [dbo].[products] OFF
GO
SET IDENTITY_INSERT [dbo].[roles] ON 

INSERT [dbo].[roles] ([id], [name]) VALUES (3, N'ADMIN')
INSERT [dbo].[roles] ([id], [name]) VALUES (1, N'CUSTOMER')
INSERT [dbo].[roles] ([id], [name]) VALUES (2, N'STAFF')
SET IDENTITY_INSERT [dbo].[roles] OFF
GO
SET IDENTITY_INSERT [dbo].[rooms] ON 

INSERT [dbo].[rooms] ([id], [name], [type], [capacity], [status]) VALUES (1, N'Room A', N'NORMAL', 20, N'ACTIVE')
INSERT [dbo].[rooms] ([id], [name], [type], [capacity], [status]) VALUES (2, N'Room B', N'NORMAL', 20, N'ACTIVE')
INSERT [dbo].[rooms] ([id], [name], [type], [capacity], [status]) VALUES (3, N'VIP Room', N'VIP', 10, N'ACTIVE')
SET IDENTITY_INSERT [dbo].[rooms] OFF
GO
INSERT [dbo].[user_roles] ([user_id], [role_id]) VALUES (1, 1)
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([id], [username], [password_hash], [email], [status], [created_at], [updated_at]) VALUES (1, N'nguyenan', N'$2a$10$hashedpasswordexample', N'nguyenan@example.com', N'ACTIVE', CAST(N'2026-09-15T23:34:35.0766667' AS DateTime2), CAST(N'2026-09-15T23:34:35.0766667' AS DateTime2))
SET IDENTITY_INSERT [dbo].[users] OFF
GO
SET IDENTITY_INSERT [dbo].[wallet_transactions] ON 

INSERT [dbo].[wallet_transactions] ([id], [wallet_id], [type], [amount], [balance_after], [reference_type], [reference_id], [description], [created_at], [status], [channel], [confirmed_by], [confirmed_at]) VALUES (1, 1, N'DEPOSIT', CAST(200000.00 AS Decimal(15, 2)), CAST(200000.00 AS Decimal(15, 2)), NULL, NULL, N'Nạp tiền lần đầu', CAST(N'2026-09-15T23:34:41.3633333' AS DateTime2), N'CONFIRMED', NULL, NULL, NULL)
INSERT [dbo].[wallet_transactions] ([id], [wallet_id], [type], [amount], [balance_after], [reference_type], [reference_id], [description], [created_at], [status], [channel], [confirmed_by], [confirmed_at]) VALUES (2, 1, N'PAYMENT', CAST(40000.00 AS Decimal(15, 2)), CAST(160000.00 AS Decimal(15, 2)), N'INVOICE', 1, N'Thanh toán invoice', CAST(N'2026-09-15T23:35:16.7000000' AS DateTime2), N'CONFIRMED', NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[wallet_transactions] OFF
GO
SET IDENTITY_INSERT [dbo].[wallets] ON 

INSERT [dbo].[wallets] ([id], [customer_id], [balance], [version], [updated_at]) VALUES (1, 1, CAST(160000.00 AS Decimal(15, 2)), 0, CAST(N'2026-09-15T23:34:35.1100000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[wallets] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_categories_name]    Script Date: 17/09/2026 11:40:06 PM ******/
ALTER TABLE [dbo].[categories] ADD  CONSTRAINT [UQ_categories_name] UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__computer__357D4CF94D0D11CC]    Script Date: 17/09/2026 11:40:06 PM ******/
ALTER TABLE [dbo].[computers] ADD UNIQUE NONCLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__customer__B43B145F0493DAFE]    Script Date: 17/09/2026 11:40:06 PM ******/
ALTER TABLE [dbo].[customers] ADD UNIQUE NONCLUSTERED 
(
	[phone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__customer__B9BE370EE981040A]    Script Date: 17/09/2026 11:40:06 PM ******/
ALTER TABLE [dbo].[customers] ADD UNIQUE NONCLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__games__72E12F1B2B6C4430]    Script Date: 17/09/2026 11:40:06 PM ******/
ALTER TABLE [dbo].[games] ADD UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__membersh__72E12F1BCCB9DF4A]    Script Date: 17/09/2026 11:40:06 PM ******/
ALTER TABLE [dbo].[membership_levels] ADD UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__products__357D4CF907EE6089]    Script Date: 17/09/2026 11:40:06 PM ******/
ALTER TABLE [dbo].[products] ADD UNIQUE NONCLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__roles__72E12F1B568B9C97]    Script Date: 17/09/2026 11:40:06 PM ******/
ALTER TABLE [dbo].[roles] ADD UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_rooms_name]    Script Date: 17/09/2026 11:40:06 PM ******/
ALTER TABLE [dbo].[rooms] ADD  CONSTRAINT [UQ_rooms_name] UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__users__AB6E6164B46AD71F]    Script Date: 17/09/2026 11:40:06 PM ******/
ALTER TABLE [dbo].[users] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__users__F3DBC5728A18DBF7]    Script Date: 17/09/2026 11:40:06 PM ******/
ALTER TABLE [dbo].[users] ADD UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__wallets__CD65CB846755D461]    Script Date: 17/09/2026 11:40:06 PM ******/
ALTER TABLE [dbo].[wallets] ADD UNIQUE NONCLUSTERED 
(
	[customer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[categories] ADD  DEFAULT ('ACTIVE') FOR [status]
GO
ALTER TABLE [dbo].[chat_messages] ADD  DEFAULT ((0)) FOR [is_read]
GO
ALTER TABLE [dbo].[chat_messages] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[computer_prices] ADD  DEFAULT ('ACTIVE') FOR [status]
GO
ALTER TABLE [dbo].[computers] ADD  DEFAULT ('AVAILABLE') FOR [status]
GO
ALTER TABLE [dbo].[customers] ADD  DEFAULT ((0)) FOR [total_playing_hours]
GO
ALTER TABLE [dbo].[customers] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[game_suggestions] ADD  DEFAULT (getdate()) FOR [requested_at]
GO
ALTER TABLE [dbo].[games] ADD  DEFAULT ('ACTIVE') FOR [status]
GO
ALTER TABLE [dbo].[gaming_sessions] ADD  DEFAULT ('ACTIVE') FOR [status]
GO
ALTER TABLE [dbo].[gaming_sessions] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[invoices] ADD  DEFAULT ((0)) FOR [gaming_amount]
GO
ALTER TABLE [dbo].[invoices] ADD  DEFAULT ((0)) FOR [order_amount]
GO
ALTER TABLE [dbo].[invoices] ADD  DEFAULT ((0)) FOR [discount_amount]
GO
ALTER TABLE [dbo].[invoices] ADD  DEFAULT ((0)) FOR [total_amount]
GO
ALTER TABLE [dbo].[invoices] ADD  DEFAULT ('PENDING') FOR [status]
GO
ALTER TABLE [dbo].[invoices] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[membership_levels] ADD  DEFAULT ((0)) FOR [discount_percent]
GO
ALTER TABLE [dbo].[membership_levels] ADD  DEFAULT ((0)) FOR [min_playing_hours]
GO
ALTER TABLE [dbo].[membership_levels] ADD  DEFAULT ('ACTIVE') FOR [status]
GO
ALTER TABLE [dbo].[notifications] ADD  DEFAULT ((0)) FOR [is_read]
GO
ALTER TABLE [dbo].[notifications] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[orders] ADD  DEFAULT ('PENDING') FOR [status]
GO
ALTER TABLE [dbo].[orders] ADD  DEFAULT ((0)) FOR [total_amount]
GO
ALTER TABLE [dbo].[orders] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[payments] ADD  DEFAULT ('WALLET') FOR [method]
GO
ALTER TABLE [dbo].[payments] ADD  DEFAULT ('SUCCESS') FOR [status]
GO
ALTER TABLE [dbo].[payments] ADD  DEFAULT (getdate()) FOR [paid_at]
GO
ALTER TABLE [dbo].[products] ADD  DEFAULT ((0)) FOR [stock_quantity]
GO
ALTER TABLE [dbo].[products] ADD  DEFAULT ((0)) FOR [minimum_stock]
GO
ALTER TABLE [dbo].[products] ADD  DEFAULT ('ACTIVE') FOR [status]
GO
ALTER TABLE [dbo].[products] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[rooms] ADD  DEFAULT ('ACTIVE') FOR [status]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ('ACTIVE') FOR [status]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[wallet_transactions] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[wallet_transactions] ADD  DEFAULT ('CONFIRMED') FOR [status]
GO
ALTER TABLE [dbo].[wallets] ADD  DEFAULT ((0)) FOR [balance]
GO
ALTER TABLE [dbo].[wallets] ADD  DEFAULT ((0)) FOR [version]
GO
ALTER TABLE [dbo].[wallets] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[chat_messages]  WITH CHECK ADD  CONSTRAINT [FK_chat_messages_customers] FOREIGN KEY([customer_id])
REFERENCES [dbo].[customers] ([id])
GO
ALTER TABLE [dbo].[chat_messages] CHECK CONSTRAINT [FK_chat_messages_customers]
GO
ALTER TABLE [dbo].[chat_messages]  WITH CHECK ADD  CONSTRAINT [FK_chat_messages_users] FOREIGN KEY([sender_user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[chat_messages] CHECK CONSTRAINT [FK_chat_messages_users]
GO
ALTER TABLE [dbo].[computer_prices]  WITH CHECK ADD  CONSTRAINT [FK_computer_prices_computers] FOREIGN KEY([computer_id])
REFERENCES [dbo].[computers] ([id])
GO
ALTER TABLE [dbo].[computer_prices] CHECK CONSTRAINT [FK_computer_prices_computers]
GO
ALTER TABLE [dbo].[computers]  WITH CHECK ADD  CONSTRAINT [FK_computers_rooms] FOREIGN KEY([room_id])
REFERENCES [dbo].[rooms] ([id])
GO
ALTER TABLE [dbo].[computers] CHECK CONSTRAINT [FK_computers_rooms]
GO
ALTER TABLE [dbo].[customers]  WITH CHECK ADD  CONSTRAINT [FK_customers_membership_levels] FOREIGN KEY([membership_level_id])
REFERENCES [dbo].[membership_levels] ([id])
GO
ALTER TABLE [dbo].[customers] CHECK CONSTRAINT [FK_customers_membership_levels]
GO
ALTER TABLE [dbo].[customers]  WITH CHECK ADD  CONSTRAINT [FK_customers_users] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[customers] CHECK CONSTRAINT [FK_customers_users]
GO
ALTER TABLE [dbo].[game_suggestion_items]  WITH CHECK ADD  CONSTRAINT [FK_game_suggestion_items_games] FOREIGN KEY([game_id])
REFERENCES [dbo].[games] ([id])
GO
ALTER TABLE [dbo].[game_suggestion_items] CHECK CONSTRAINT [FK_game_suggestion_items_games]
GO
ALTER TABLE [dbo].[game_suggestion_items]  WITH CHECK ADD  CONSTRAINT [FK_game_suggestion_items_suggestions] FOREIGN KEY([game_suggestion_id])
REFERENCES [dbo].[game_suggestions] ([id])
GO
ALTER TABLE [dbo].[game_suggestion_items] CHECK CONSTRAINT [FK_game_suggestion_items_suggestions]
GO
ALTER TABLE [dbo].[game_suggestions]  WITH CHECK ADD  CONSTRAINT [FK_game_suggestions_customers] FOREIGN KEY([customer_id])
REFERENCES [dbo].[customers] ([id])
GO
ALTER TABLE [dbo].[game_suggestions] CHECK CONSTRAINT [FK_game_suggestions_customers]
GO
ALTER TABLE [dbo].[gaming_sessions]  WITH CHECK ADD  CONSTRAINT [FK_gaming_sessions_computers] FOREIGN KEY([computer_id])
REFERENCES [dbo].[computers] ([id])
GO
ALTER TABLE [dbo].[gaming_sessions] CHECK CONSTRAINT [FK_gaming_sessions_computers]
GO
ALTER TABLE [dbo].[gaming_sessions]  WITH CHECK ADD  CONSTRAINT [FK_gaming_sessions_customers] FOREIGN KEY([customer_id])
REFERENCES [dbo].[customers] ([id])
GO
ALTER TABLE [dbo].[gaming_sessions] CHECK CONSTRAINT [FK_gaming_sessions_customers]
GO
ALTER TABLE [dbo].[invoice_details]  WITH CHECK ADD  CONSTRAINT [FK_invoice_details_invoices] FOREIGN KEY([invoice_id])
REFERENCES [dbo].[invoices] ([id])
GO
ALTER TABLE [dbo].[invoice_details] CHECK CONSTRAINT [FK_invoice_details_invoices]
GO
ALTER TABLE [dbo].[invoice_details]  WITH CHECK ADD  CONSTRAINT [FK_invoice_details_orders] FOREIGN KEY([order_id])
REFERENCES [dbo].[orders] ([id])
GO
ALTER TABLE [dbo].[invoice_details] CHECK CONSTRAINT [FK_invoice_details_orders]
GO
ALTER TABLE [dbo].[invoices]  WITH CHECK ADD  CONSTRAINT [FK_invoices_customers] FOREIGN KEY([customer_id])
REFERENCES [dbo].[customers] ([id])
GO
ALTER TABLE [dbo].[invoices] CHECK CONSTRAINT [FK_invoices_customers]
GO
ALTER TABLE [dbo].[invoices]  WITH CHECK ADD  CONSTRAINT [FK_invoices_gaming_sessions] FOREIGN KEY([gaming_session_id])
REFERENCES [dbo].[gaming_sessions] ([id])
GO
ALTER TABLE [dbo].[invoices] CHECK CONSTRAINT [FK_invoices_gaming_sessions]
GO
ALTER TABLE [dbo].[order_details]  WITH CHECK ADD  CONSTRAINT [FK_order_details_orders] FOREIGN KEY([order_id])
REFERENCES [dbo].[orders] ([id])
GO
ALTER TABLE [dbo].[order_details] CHECK CONSTRAINT [FK_order_details_orders]
GO
ALTER TABLE [dbo].[order_details]  WITH CHECK ADD  CONSTRAINT [FK_order_details_products] FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([id])
GO
ALTER TABLE [dbo].[order_details] CHECK CONSTRAINT [FK_order_details_products]
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD  CONSTRAINT [FK_orders_customers] FOREIGN KEY([customer_id])
REFERENCES [dbo].[customers] ([id])
GO
ALTER TABLE [dbo].[orders] CHECK CONSTRAINT [FK_orders_customers]
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD  CONSTRAINT [FK_orders_gaming_sessions] FOREIGN KEY([gaming_session_id])
REFERENCES [dbo].[gaming_sessions] ([id])
GO
ALTER TABLE [dbo].[orders] CHECK CONSTRAINT [FK_orders_gaming_sessions]
GO
ALTER TABLE [dbo].[payments]  WITH CHECK ADD  CONSTRAINT [FK_payments_confirmed_by] FOREIGN KEY([confirmed_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[payments] CHECK CONSTRAINT [FK_payments_confirmed_by]
GO
ALTER TABLE [dbo].[payments]  WITH CHECK ADD  CONSTRAINT [FK_payments_invoices] FOREIGN KEY([invoice_id])
REFERENCES [dbo].[invoices] ([id])
GO
ALTER TABLE [dbo].[payments] CHECK CONSTRAINT [FK_payments_invoices]
GO
ALTER TABLE [dbo].[products]  WITH CHECK ADD  CONSTRAINT [FK_products_categories] FOREIGN KEY([category_id])
REFERENCES [dbo].[categories] ([id])
GO
ALTER TABLE [dbo].[products] CHECK CONSTRAINT [FK_products_categories]
GO
ALTER TABLE [dbo].[user_roles]  WITH CHECK ADD  CONSTRAINT [FK_user_roles_roles] FOREIGN KEY([role_id])
REFERENCES [dbo].[roles] ([id])
GO
ALTER TABLE [dbo].[user_roles] CHECK CONSTRAINT [FK_user_roles_roles]
GO
ALTER TABLE [dbo].[user_roles]  WITH CHECK ADD  CONSTRAINT [FK_user_roles_users] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[user_roles] CHECK CONSTRAINT [FK_user_roles_users]
GO
ALTER TABLE [dbo].[wallet_transactions]  WITH CHECK ADD  CONSTRAINT [FK_wallet_transactions_confirmed_by] FOREIGN KEY([confirmed_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[wallet_transactions] CHECK CONSTRAINT [FK_wallet_transactions_confirmed_by]
GO
ALTER TABLE [dbo].[wallet_transactions]  WITH CHECK ADD  CONSTRAINT [FK_wallet_transactions_wallets] FOREIGN KEY([wallet_id])
REFERENCES [dbo].[wallets] ([id])
GO
ALTER TABLE [dbo].[wallet_transactions] CHECK CONSTRAINT [FK_wallet_transactions_wallets]
GO
ALTER TABLE [dbo].[wallets]  WITH CHECK ADD  CONSTRAINT [FK_wallets_customers] FOREIGN KEY([customer_id])
REFERENCES [dbo].[customers] ([id])
GO
ALTER TABLE [dbo].[wallets] CHECK CONSTRAINT [FK_wallets_customers]
GO
ALTER TABLE [dbo].[chat_messages]  WITH CHECK ADD  CONSTRAINT [CK_chat_messages_sender_role] CHECK  (([sender_role]='STAFF' OR [sender_role]='CUSTOMER'))
GO
ALTER TABLE [dbo].[chat_messages] CHECK CONSTRAINT [CK_chat_messages_sender_role]
GO
ALTER TABLE [dbo].[computer_prices]  WITH CHECK ADD  CONSTRAINT [CK_computer_prices_status] CHECK  (([status]='INACTIVE' OR [status]='ACTIVE'))
GO
ALTER TABLE [dbo].[computer_prices] CHECK CONSTRAINT [CK_computer_prices_status]
GO
ALTER TABLE [dbo].[computers]  WITH CHECK ADD  CONSTRAINT [CK_computers_status] CHECK  (([status]='OFFLINE' OR [status]='MAINTENANCE' OR [status]='IN_USE' OR [status]='AVAILABLE'))
GO
ALTER TABLE [dbo].[computers] CHECK CONSTRAINT [CK_computers_status]
GO
ALTER TABLE [dbo].[customers]  WITH CHECK ADD  CONSTRAINT [CK_customers_total_playing_hours] CHECK  (([total_playing_hours]>=(0)))
GO
ALTER TABLE [dbo].[customers] CHECK CONSTRAINT [CK_customers_total_playing_hours]
GO
ALTER TABLE [dbo].[game_suggestion_items]  WITH CHECK ADD  CONSTRAINT [CK_game_suggestion_items_rank] CHECK  (([rank_order]>(0)))
GO
ALTER TABLE [dbo].[game_suggestion_items] CHECK CONSTRAINT [CK_game_suggestion_items_rank]
GO
ALTER TABLE [dbo].[games]  WITH CHECK ADD  CONSTRAINT [CK_games_status] CHECK  (([status]='INACTIVE' OR [status]='ACTIVE'))
GO
ALTER TABLE [dbo].[games] CHECK CONSTRAINT [CK_games_status]
GO
ALTER TABLE [dbo].[gaming_sessions]  WITH CHECK ADD  CONSTRAINT [CK_gaming_sessions_status] CHECK  (([status]='CANCELLED' OR [status]='COMPLETED' OR [status]='ACTIVE'))
GO
ALTER TABLE [dbo].[gaming_sessions] CHECK CONSTRAINT [CK_gaming_sessions_status]
GO
ALTER TABLE [dbo].[gaming_sessions]  WITH CHECK ADD  CONSTRAINT [CK_gaming_sessions_time] CHECK  (([end_time] IS NULL OR [end_time]>[start_time]))
GO
ALTER TABLE [dbo].[gaming_sessions] CHECK CONSTRAINT [CK_gaming_sessions_time]
GO
ALTER TABLE [dbo].[invoice_details]  WITH CHECK ADD  CONSTRAINT [CK_invoice_details_item_type] CHECK  (([item_type]='ORDER' OR [item_type]='GAMING_FEE'))
GO
ALTER TABLE [dbo].[invoice_details] CHECK CONSTRAINT [CK_invoice_details_item_type]
GO
ALTER TABLE [dbo].[invoices]  WITH CHECK ADD  CONSTRAINT [CK_invoices_status] CHECK  (([status]='CANCELLED' OR [status]='PAID' OR [status]='PENDING'))
GO
ALTER TABLE [dbo].[invoices] CHECK CONSTRAINT [CK_invoices_status]
GO
ALTER TABLE [dbo].[notifications]  WITH CHECK ADD  CONSTRAINT [CK_notifications_role] CHECK  (([recipient_role]='ADMIN' OR [recipient_role]='STAFF'))
GO
ALTER TABLE [dbo].[notifications] CHECK CONSTRAINT [CK_notifications_role]
GO
ALTER TABLE [dbo].[notifications]  WITH CHECK ADD  CONSTRAINT [CK_notifications_type] CHECK  (([type]='ORDER_REQUEST' OR [type]='DEPOSIT_REQUEST'))
GO
ALTER TABLE [dbo].[notifications] CHECK CONSTRAINT [CK_notifications_type]
GO
ALTER TABLE [dbo].[order_details]  WITH CHECK ADD  CONSTRAINT [CK_order_details_quantity] CHECK  (([quantity]>(0)))
GO
ALTER TABLE [dbo].[order_details] CHECK CONSTRAINT [CK_order_details_quantity]
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD  CONSTRAINT [CK_orders_status] CHECK  (([status]='CANCELLED' OR [status]='COMPLETED' OR [status]='CONFIRMED' OR [status]='PENDING'))
GO
ALTER TABLE [dbo].[orders] CHECK CONSTRAINT [CK_orders_status]
GO
ALTER TABLE [dbo].[payments]  WITH CHECK ADD  CONSTRAINT [CK_payments_method] CHECK  (([method]='VNPAY' OR [method]='CASH' OR [method]='WALLET'))
GO
ALTER TABLE [dbo].[payments] CHECK CONSTRAINT [CK_payments_method]
GO
ALTER TABLE [dbo].[payments]  WITH CHECK ADD  CONSTRAINT [CK_payments_status] CHECK  (([status]='CANCELLED' OR [status]='FAILED' OR [status]='SUCCESS' OR [status]='PENDING_CONFIRMATION'))
GO
ALTER TABLE [dbo].[payments] CHECK CONSTRAINT [CK_payments_status]
GO
ALTER TABLE [dbo].[products]  WITH CHECK ADD  CONSTRAINT [CK_products_status] CHECK  (([status]='INACTIVE' OR [status]='ACTIVE'))
GO
ALTER TABLE [dbo].[products] CHECK CONSTRAINT [CK_products_status]
GO
ALTER TABLE [dbo].[products]  WITH CHECK ADD  CONSTRAINT [CK_products_stock] CHECK  (([stock_quantity]>=(0)))
GO
ALTER TABLE [dbo].[products] CHECK CONSTRAINT [CK_products_stock]
GO
ALTER TABLE [dbo].[rooms]  WITH CHECK ADD  CONSTRAINT [CK_rooms_status] CHECK  (([status]='INACTIVE' OR [status]='ACTIVE'))
GO
ALTER TABLE [dbo].[rooms] CHECK CONSTRAINT [CK_rooms_status]
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD  CONSTRAINT [CK_users_status] CHECK  (([status]='LOCKED' OR [status]='INACTIVE' OR [status]='ACTIVE'))
GO
ALTER TABLE [dbo].[users] CHECK CONSTRAINT [CK_users_status]
GO
ALTER TABLE [dbo].[wallet_transactions]  WITH CHECK ADD  CONSTRAINT [CK_wallet_transactions_channel] CHECK  (([channel]='VNPAY' OR [channel]='CASH' OR [channel] IS NULL))
GO
ALTER TABLE [dbo].[wallet_transactions] CHECK CONSTRAINT [CK_wallet_transactions_channel]
GO
ALTER TABLE [dbo].[wallet_transactions]  WITH CHECK ADD  CONSTRAINT [CK_wallet_transactions_status] CHECK  (([status]='CANCELLED' OR [status]='CONFIRMED' OR [status]='PENDING_CONFIRMATION'))
GO
ALTER TABLE [dbo].[wallet_transactions] CHECK CONSTRAINT [CK_wallet_transactions_status]
GO
ALTER TABLE [dbo].[wallet_transactions]  WITH CHECK ADD  CONSTRAINT [CK_wallet_transactions_type] CHECK  (([type]='REFUND' OR [type]='PAYMENT' OR [type]='DEPOSIT'))
GO
ALTER TABLE [dbo].[wallet_transactions] CHECK CONSTRAINT [CK_wallet_transactions_type]
GO
ALTER TABLE [dbo].[wallets]  WITH CHECK ADD  CONSTRAINT [CK_wallets_balance] CHECK  (([balance]>=(0)))
GO
ALTER TABLE [dbo].[wallets] CHECK CONSTRAINT [CK_wallets_balance]
GO
